##**EDA Airbnb Listings Chicago & New orleans**

##**Introduction**

Welcome, In this Airbnb analysis we embark on a data analysis journey focused on Airbnb operations in two vibrant cities—Chicago and New Orleans. This Colab guides you through essential steps, from data download to cleaning and preparation, setting the stage for insightful visualizations using tools like Tableau.

##**Project Overview**

In this project, we delve into Airbnb listings data, exploring key attributes, handling null values, and preparing the data for visualization. The goal is to create a comprehensive BI dashboard using Tableau, offering a nuanced comparative examination of Airbnb's presence in Chicago and New Orleans.

##**Problem Statement:**

In the context of Airbnb operations, how can the utilisation of Tableau Desktop/Tableau Public/PowerBI facilitate a comprehensive comparative examination between Chicago and New Orleans, two diverse urban environments?

This inquiry seeks to leverage Tableau Desktop/Tableau Public/PowerBI's visual analytics capabilities to uncover and illustrate the shared attributes, disparities, and distinctive patterns inherent to Airbnb's presence in these cities, thus elevating the depth and insightfulness of the study.

##**Dataset Selection:**

For this EDA project, we have chosen the "Airbnb Listings Data" dataset from 2 major cities: Chicago and New Orleans. This dataset provides a comprehensive snapshot of various attributes related to Airbnb listings, such as property type, neighbourhood, pricing, availability, and more. The dataset is ideal for conducting an in-depth exploration of the local Airbnb market and deriving actionable insights.

##**Why Airbnb:**

Airbnb, a prominent online platform, enables individuals to reserve accommodations spanning a spectrum from beds and rooms to apartments and entire homes across global locales. This user-centric platform serves as a conduit for seamless property rentals, negating the need for intricate intermediaries or substantial capital outlays. Notably, users can secure lodgings at significantly competitive rates relative to traditional hotels. Distinctively, Airbnb extends its reach to regions where convectional hotel presence might be limited, offering an avenue for lodging acquisition in underserved locales. Moreover, the inclination towards immersive local experiences often steers individuals towards selecting accommodations embedded within native communities, fostering a distinctive preference for authenticity and cultural engagement.

Airbnb Statistics • Over 4 million listings worldwide • 150 million users in 191 countries • Worldwide value is $32 billion • Global growth rate since 2009 - 153%

##**Dataset Details:**

- Dataset Name: Airbnb Listings Data
- Source: [Link to dataset](http://insideairbnb.com/get-the-data/)
- Cities: Chicago & New Orleans
- Description: The Airbnb Listings Data contains information about different properties available for rent on Airbnb in a specific city. Each record represents a unique listing and includes attributes such as property type, neighbourhood, number of bedrooms, pricing, availability, host information, and more.

**Key Attributes**:

1. id: Unique identifier for each listing.

2. name: The title or name of the listing.

3. host_id: Unique identifier for the host of the property.

4. host_name: Name of the host.

5. neighbourhood_group: The broader area or group that the neighbourhood belongs to.

6. neighbourhood: Specific neighbourhood where the property is located.

7. latitude: Latitude coordinate of the property.

8. longitude: Longitude coordinate of the property.

9. room_type: Type of room (e.g., Private room, Entire home/apt, Shared room).

10. price: Price of the listing per night.

11. minimum_nights: Minimum number of nights required for booking.

12. number_of_reviews: Total number of reviews received for the listing.

13. last_review: Date of the last review.

14. reviews_per_month: Average number of reviews per month.

15. availability_365: Number of days the listing is available for booking in a year.

**Problem Areas to Explore:**

1. Which are the popular neighbourhoods, their average prices and no. of listings?

2. What is the percent share of different property types and room types?

3. How the pricing is varying with location, property type, and reviews?

4. What are the different correlations between type of hosts and factors like- reviews & price?

Divide the visualisation findings into 4 categories:

- Overview of Airbnb
- Property analysis
- Pricing analysis
- Host analysis

**How to proceed with the dashboard:**

1. Data Download: Fetching Airbnb data for both cities from Google Drive.

2. Data Cleaning: Begin by addressing the disorder and inconsistency within the dataset. Utilise Jupyter Notebook and Tableau Desktop/Tableau Public/PowerBI Prep to systematically cleanse the data, rectifying discrepancies, eliminating duplicates, and standardising formats.

3. Data Exploration:Generate supplementary columns by utilising pre-existing categorical data. These columns will be derived from extensive descriptive text, which, in its original form, proved arduous to comprehend and unsuitable for visualisation purposes. The extra columns that we created gave a much clear sense of how to approach and make an effective visualisation.

4. Exporting Cleaned Data: Saving cleaned datasets for further analysis in Tableau Prep.

##**Lets Begin!**

In [1]:
#Importing required libraries
import pandas as pd
import requests
import io

**Dataset Loading**

In [2]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# csv file location
path1 = "/content/drive/My Drive/chicago.csv"
path2 = "/content/drive/My Drive/new_orleans.csv"

In [4]:
# reading csv file
chicago_df= pd.read_csv(path1)
new_orleans_df= pd.read_csv(path2)

In [5]:
#Adding city name as a column for easy convenience
chicago_df['City'] = "Chicago"
new_orleans_df['City'] = "New Orleans"

In [6]:
chicago_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,City
0,2384,Hyde Park - Walk to The University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,125.0,3,242,2024-06-08,2.10,1,328,23,R17000015609,Chicago
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,104.0,2,527,2024-06-01,2.89,1,297,32,R24000114046,Chicago
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,188.0,4,93,2024-06-16,0.75,5,196,26,2209984,Chicago
3,12140,Lincoln Park Guest House,46734,Shay And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,339.0,2,16,2024-05-27,0.15,1,151,1,R20000055258,Chicago
4,28749,Quirky Bucktown Loft w/ Parking NO PARTIES,27506,Lauri,NaN,Logan Square,41.92137,-87.67933,Entire home/apt,214.0,2,210,2024-06-18,1.27,1,13,33,R24000113825,Chicago

In [7]:
#Checking the columns of both cities data
print('Chicago Columns : ',list(chicago_df.columns))
print('New Orleans Columns : ',list(new_orleans_df.columns))

Chicago Columns :  ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license', 'City']
New Orleans Columns :  ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license', 'City']

In [8]:
chicago_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'City'],
      dtype='object')

In [9]:
#Gathered required columns and placed in a list namely req_columns for accessing further.
req_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'City']

In [10]:
#Assigning required columns from main data frame to new data frame to work on.
chicago_final_column = chicago_df[req_columns]
new_orleans_final_column = new_orleans_df[req_columns]

In [11]:
null_value = chicago_df.isnull().sum()
null_value

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               7952
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              354
minimum_nights                       0
number_of_reviews                    0
last_review                       1449
reviews_per_month                 1449
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           1535
City                                 0
dtype: int64

In [12]:
#Replacing null values
# replacing null values with NA for License column
chicago_final_column['license'].fillna('NA', inplace = True)

# replacing null values with 'NA' for neighbourhood_group columns in view of less rows of data with null.
chicago_final_column['neighbourhood_group'].fillna('NA', inplace = True)

# replacing null values in 'reviews_per_month' with a placeholder value (assuming placeholder is 0)
chicago_final_column['reviews_per_month'].fillna(0, inplace=True)

<ipython-input-12-1118b7754848>:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  chicago_final_column['neighbourhood_group'].fillna('NA', inplace = True)

In [13]:
null_value = new_orleans_df.isnull().sum()
null_value

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               7033
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             1264
minimum_nights                       0
number_of_reviews                    0
last_review                       1031
reviews_per_month                 1031
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           1279
City                                 0
dtype: int64

In [14]:
# replacing null values with NA for License column
new_orleans_final_column['license'].fillna('NA', inplace = True)

# replacing null values with 'NA' for neighbourhood_group columns in view of less rows of data with null.
new_orleans_final_column['neighbourhood_group'].fillna('NA', inplace = True)

# replacing null values in 'reviews_per_month' with a placeholder value (assuming placeholder is 0)
new_orleans_final_column['reviews_per_month'].fillna(0, inplace=True)

<ipython-input-14-db50f82a917a>:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_orleans_final_column['neighbourhood_group'].fillna('NA', inplace = True)

**Checking for null value columns for cleaning**

In [15]:
# Create a DataFrame for Chicago with information about columns for a quick understanding
chicago_info = pd.DataFrame({
    'Column': chicago_final_column.columns,
    'Data Type': chicago_final_column.dtypes.values,
    'Non-Null Count': chicago_final_column.count().values,
    'Null Count': chicago_final_column.isnull().sum().values
})

#Setting the max rows to 100 for display purpose
pd.set_option('display.max_rows',100)

# Sorting by Null Count to identify the null values easily
chicago_info.sort_values(by='Null Count',ascending=False)

# Filter to show only columns with null values
chicago_info[chicago_info['Null Count'] > 0]

         Column Data Type  Non-Null Count  Null Count
9         price   float64            7598         354
12  last_review    object            6503        1449

In [16]:
# Create a DataFrame for New Orleans with information about columns for a quick understanding
new_orleans_info = pd.DataFrame({
    'Column': new_orleans_final_column.columns,
    'Data Type': new_orleans_final_column.dtypes.values,
    'Non-Null Count': new_orleans_final_column.count().values,
    'Null Count': new_orleans_final_column.isnull().sum().values
})

#Setting the max rows to 100 for display purpose
pd.set_option('display.max_rows',100)

# Sorting by Null Count to identify the null values easily
new_orleans_info.sort_values(by='Null Count', ascending=False)

# Filter to show only columns with null values
new_orleans_info[chicago_info['Null Count'] > 0]

         Column Data Type  Non-Null Count  Null Count
9         price   float64            5769        1264
12  last_review    object            6002        1031

**Exporting cleaned data to CSV**

In [17]:
chicago_final_column.to_csv('chicago_cleaned.csv', sep=',', index=True, encoding='utf-8')
new_orleans_final_column.to_csv('new_orleans_cleaned.csv', sep=',', index=True, encoding='utf-8')

**Merging both city data into single dataframe & exporting that for visualization**

In [18]:
# chicago_df and new_orleans_df are DataFrames for Chicago and New Orleans
merged_df = pd.concat([chicago_final_column, new_orleans_final_column], ignore_index=True)

# Now merged_df contains the combined data of Chicago and New Orleans
# You can save it to a new file if needed
merged_df.to_excel('merged_data.xlsx', index=False)

This is the complete data cleaning process for both the listing. Now from here we will be using tableau and creating dashboards.